*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Fira Sans',sans-serif;
}


:root{
    --primary:#D81E5D;
    --secondary:#8a4fff;
    --light:#eee;
    --dark:#1e2f42;
    --grey:#aaa;
}

.logom{
    color: white;
    text-decoration: none;
}


.login{
    position: fixed;
    top:-50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 60%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #fff;
    z-index: 200;
    padding: 2rem;
    border-radius: 0.5rem;
    background-color:#f9f4e9;
    overflow: hidden;
    overflow-wrap: break-word;
    transition: top 2s;
}

#checks{
    margin: 0.1rem;
    padding: 0.3rem;
}


.show-login{
    top:50%;
}

.forms{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 2rem;
}


.crossa{
    background-color: #484de0;
    border-radius: 0.4rem;
    position: absolute;
    right:2rem;
    top:1rem;
    color:white;
    padding: 0.5rem;
    cursor: pointer;
}


.crossa:hover{
    background-color: #F7A800;
}

.forms input{
    border: 0.1rem solid #484de0;
    padding: 0.6rem;
    border-radius: 0.6rem;
    margin-bottom: 0.6rem;
}

.forms input:focus{
    border-color: #D81E5D;
}

@media (max-width:440px) {
    .login{
        width: 80%;
    }

    .crossa{
        top:0.6rem;
        right: 0.6rem;
    }

    .forms input{
        padding: 0.3rem;
    }
}

.logom:hover{
    text-decoration: underline;
    color: #F7A800;
}

.header{
    background-color: royalblue;
    color:white;
    font-family: cursive;
    width: 100%;
    padding: 0.6rem;
    font-size: 1.3rem;
    position: fixed;
    top:0;
    z-index: 8;
}

.show{
    display: block;
}

.icons{
    display: inline-block;
    position: fixed;
    top:0.4rem;
    right:0.7rem;
    padding: 0.4rem;
    border-radius: 0.4rem;
    display: none;
    color:white;
}

nav{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav div:hover{
    text-decoration: underline;
    cursor: pointer;
}


nav ul{
    display: flex;
    align-items: center;
    justify-content: center;
}

nav ul li {
    text-decoration: none;
    list-style: none;
    display:block;
    margin: 0.8rem;
}

nav ul li a{
    text-decoration: none;
    color:white;
}

nav ul li a:hover{
    color:#F7A800;
    text-decoration: underline;
}

.logo{
    color:black;
}

.starts{
    padding: 5rem;
    font-family: cursive;
    background-image: url("back.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 100vh;
    color:#161BB1;
}

.starts h1{
    margin-top: 10rem;
    font-size: 2.6rem;
    overflow-wrap: break-word;
}

.starts h1:hover{
    cursor: pointer;
    text-decoration: underline;
}

.btnc{
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn{
    border:none;
    outline: none;
    text-decoration: none;
    background-color: royalblue;
    color:white;
    padding: 0.6rem 1.8rem;
    font-size: 1.2rem;
    border-radius: 0.7rem;
    cursor: pointer;
    position: relative;
}

.slide::before{
    content: '';
    top:0;
    left:0;
    right:0;
    bottom: 0;
    position: absolute;
    background-color: #F7A800;
    z-index: -1;
    transform: scaleX(0);
    border-radius: 0.7rem;
    transition: transform 0.4s ease-in-out;
    transform-origin: left;
}

.slide{
    z-index: 1;
}

.slide:hover:before{
    transform: scaleX(1);
}

.btnc{
    margin: 3rem;
    text-align: center;
}


.foot{
    background-color: rgb(5, 253, 170);
    color:black;
    text-align: center;
    padding: 0.5rem;
    min-height: 10vh;
    overflow: hidden;
}


.about{
    min-height: 40vh;
    background-color:royalblue;
    color:white;
    padding: 2rem;
    font-family: cursive;
}

.about h1{
    text-align: center;
}

.about h1 span{
    border-bottom: 0.1rem solid white;
}


.about ul{
    list-style: none;
}

.about ul li{
    width: 100%;
    font-size: 1.5rem;
    margin: 1rem;
    padding: 0.5rem;
    border-radius: 0.6rem;
}

.about ul li:nth-child(even){
    background-color: rgb(26, 78, 231);
}

.about ul li:hover{
    background-color: #F7a800;
    cursor: pointer;
}

.colorMain{
    min-height: 70vh;
    background-color: aliceblue;
    padding: 2rem;
}

.progress{
    position:fixed;
    top:95%;
    left:0;
    width:100%;
    font-weight: 900;
    padding: 0.3rem;
    z-index: 2;
    background-color:rgb(0, 179, 255);
    border-radius: 0.6rem;
    border: 0.05rem solid white;
    color:white;
}

.progress-inner{
    position: relative;
    width:0%;
    color:#fff;
    background-color: rgb(47, 255, 0);
    font-family: cursive;
    text-align: center;
}


.cen{
    padding: 1rem;
    text-align: center;
}

main{
    font-size: 1.5rem;
    padding: 4rem;
    margin: 0 auto;
}


button,input{
    appearance: none;
    border: none;
    outline: none;
    background: none;
    color: inherit;
}

button{
    cursor: pointer;

}

.icon{
    height: 1rem;
}

.headings{
    color: #8a4fff;
    overflow-wrap: break-word;
}

.headingss{
    color: #8a4fff;
    overflow-wrap: break-word;
}


.colours{
    display: grid;
    grid-template-columns: repeat(1,1fr);
    grid-gap: 1rem;
    width: 100%;
}

.colour{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.6rem;
    border-radius: 0.8rem;
    color:#fff;
    background-color: var(--dark);
    transition: 0.4s ease-out;
    border: 0.1rem solid transparent;
}


.copy{
    border-color:red;
}

.lock{
    opacity: 0.5;
    transition: 0.4s;
}

.is-locked{
    opacity: 1;
}

.colour input{
    text-align: center;
}



.container p span{
    font-family:Arial, Helvetica, sans-serif;
    color:#dd7732;
}

.cursor{
    display: inline-block;
    background-color: #ccc;
    margin-left: 0.1rem;
    width:4px;
    animation: blink 1s infinite;
}


@keyframes blink{
    0%{
        background-color: #ccc;
    }

    49%{
        background-color: #ccc;
    }

    50%{
        background-color: transparent;
    }

    99%{
        background-color: transparent;
    }

    100%{
        background-color: #ccc;
    }
}

@media (min-width:760px) {
    .colours{
        grid-template-columns: repeat(2,1fr);
    }
}

@media (min-width:960px) {
    .colours{
        grid-template-columns: repeat(4,1fr);
    }

    .colour{
        flex-direction: column;
        align-items: center;
        margin: 1rem 0rem;
        padding: 1rem;
    }
}


@media (max-width:450px) {
    nav{
        display: block;
    }

    nav ul{
        display: block;
        display: none;
    }

    nav ul li{
        display: block;
        background-color: rgb(101, 136, 242);
        border-radius: 0.6rem;
        padding: 0.4rem;
    }

    nav ul li:hover{
        background-color: #F7A800;
        color:white;
    }

    nav ul li a:hover{
        color:#1e2f42;
    }

    .icons{
        display: inline-block;
    }

    .colorMain{
        padding: 2rem 0.1rem;
        overflow: hidden;
    }
}


@media (max-width:330px) {
    .colour{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        height: auto;
        padding: 0.6rem;
        overflow-wrap:break-word;
        margin-top: 0.6rem;
        width: 170px;
    }

    .colour img{
        margin-top: 0.5rem;
    }
    .colour input{
        margin: 0.5rem 0rem;
    }

    .colours{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
}
